.container-chatbot{

    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin: 10px;

}
#title-container{
    text-align: center;
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px 10px 0px 0px ;
    border-bottom: 1px solid #ccc;
}
#title-container span{
    
    color: #898989;
    font-size: 25px;
    text-transform: uppercase;
    
    font-style: bolder;
}

#body-container{
    padding: 20px;
    height: 400px;
    overflow-y: auto;
}
#input-user {
    padding: 20px;
}
#input-user input {
    padding: 20px;
    height: 50px;
}


.container-message-user {
    height: auto;
    min-width: 10%;
    display: table;
    max-width: 80%;
    background-color: #cacaca;
    border-radius: 10px;
    color: #404040;
    padding: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
}

.container-message-watson {
    margin-bottom: 10px;
    height: auto;
    min-width: 10%;
    max-width: 80%;
    color: #404040;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;    
    background-color: #dadada;
}

